
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 50px;
  background-color: #ce4176;
  padding: 0 8px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-right {
  cursor: pointer;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}
