.main-container {
  max-width: 100%;
  background-color: #ec4c8a;
  padding: 0;
  color: #fff;
}

.section-title {
  max-width: 100%;
  background-color: #d8487f;
  padding: 0 8px;
  height: 30px;
}

.section-title h4 {
  padding: 3px 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
}

.navbar .nav-item {
  width: 50%;
  height: 150px;
  box-sizing: border-box;
  padding: 5px;
  color: #fff;
}

.navbar .nav-item:nth-child(2),
.navbar .nav-item:nth-child(4n-2),
.navbar .nav-item:nth-child(4n-1) {
  background-color: #ce4176;
}

.nav-link {
  text-decoration: none;
}

.right-arrow {
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: right;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: row;
  text-transform: uppercase;
  padding: 0 8px;
}

.map {
  width: 50%;
}

.map img {
  width: 100%;
  height: 150px;
  opacity: 0.3;
  object-fit: fill;
  margin-top: -20px;
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  margin: 0;
}
